/*<meta Version="9" />*/

/* MadCap Table Style: */

mcTableStyle
{
	name: Test;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 5;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 25%;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	size: 50%;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column3;
	size: 25%;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}

/* Cell Styles: */

.TableStyle-Test
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Test-Column-Column1
{
	width: 25%;
}

.TableStyle-Test-Column-Column2
{
	width: 50%;
}

.TableStyle-Test-Column-Column3
{
	width: 25%;
}

.TableStyle-Test-Head-Header1
{
	
}

.TableStyle-Test-HeadI-Column1-Header1
{
	
}

.TableStyle-Test-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Test-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Test-HeadF-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Test-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Test-HeadD-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Test-HeadC-Column1-Header1
{
	
}

.TableStyle-Test-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Test-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Test-HeadA-Column1-Header1
{
	
}

.TableStyle-Test-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Test-HeadG-Column1-Header1
{
	
}

.TableStyle-Test-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Test-HeadI-Column2-Header1
{
	
}

.TableStyle-Test-HeadI-Column2-Header1 p
{
	
}

.TableStyle-Test-HeadE-Column2-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-HeadE-Column2-Header1 p
{
	
}

.TableStyle-Test-HeadF-Column2-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-HeadF-Column2-Header1 p
{
	
}

.TableStyle-Test-HeadH-Column2-Header1
{
	
}

.TableStyle-Test-HeadH-Column2-Header1 p
{
	
}

.TableStyle-Test-HeadD-Column2-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-HeadD-Column2-Header1 p
{
	
}

.TableStyle-Test-HeadC-Column2-Header1
{
	
}

.TableStyle-Test-HeadC-Column2-Header1 p
{
	
}

.TableStyle-Test-HeadB-Column2-Header1
{
	
}

.TableStyle-Test-HeadB-Column2-Header1 p
{
	
}

.TableStyle-Test-HeadA-Column2-Header1
{
	
}

.TableStyle-Test-HeadA-Column2-Header1 p
{
	
}

.TableStyle-Test-HeadG-Column2-Header1
{
	
}

.TableStyle-Test-HeadG-Column2-Header1 p
{
	
}

.TableStyle-Test-HeadI-Column3-Header1
{
	
}

.TableStyle-Test-HeadI-Column3-Header1 p
{
	
}

.TableStyle-Test-HeadE-Column3-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-HeadE-Column3-Header1 p
{
	
}

.TableStyle-Test-HeadF-Column3-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-HeadF-Column3-Header1 p
{
	
}

.TableStyle-Test-HeadH-Column3-Header1
{
	
}

.TableStyle-Test-HeadH-Column3-Header1 p
{
	
}

.TableStyle-Test-HeadD-Column3-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-HeadD-Column3-Header1 p
{
	
}

.TableStyle-Test-HeadC-Column3-Header1
{
	
}

.TableStyle-Test-HeadC-Column3-Header1 p
{
	
}

.TableStyle-Test-HeadB-Column3-Header1
{
	
}

.TableStyle-Test-HeadB-Column3-Header1 p
{
	
}

.TableStyle-Test-HeadA-Column3-Header1
{
	
}

.TableStyle-Test-HeadA-Column3-Header1 p
{
	
}

.TableStyle-Test-HeadG-Column3-Header1
{
	
}

.TableStyle-Test-HeadG-Column3-Header1 p
{
	
}

.TableStyle-Test-Foot-Footer1
{
	
}

.TableStyle-Test-FootI-Column1-Footer1
{
	
}

.TableStyle-Test-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Test-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Test-FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Test-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Test-FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Test-FootC-Column1-Footer1
{
	
}

.TableStyle-Test-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Test-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Test-FootA-Column1-Footer1
{
	
}

.TableStyle-Test-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Test-FootG-Column1-Footer1
{
	
}

.TableStyle-Test-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Test-FootI-Column2-Footer1
{
	
}

.TableStyle-Test-FootI-Column2-Footer1 p
{
	
}

.TableStyle-Test-FootE-Column2-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test-FootE-Column2-Footer1 p
{
	
}

.TableStyle-Test-FootF-Column2-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test-FootF-Column2-Footer1 p
{
	
}

.TableStyle-Test-FootH-Column2-Footer1
{
	
}

.TableStyle-Test-FootH-Column2-Footer1 p
{
	
}

.TableStyle-Test-FootD-Column2-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test-FootD-Column2-Footer1 p
{
	
}

.TableStyle-Test-FootC-Column2-Footer1
{
	
}

.TableStyle-Test-FootC-Column2-Footer1 p
{
	
}

.TableStyle-Test-FootB-Column2-Footer1
{
	
}

.TableStyle-Test-FootB-Column2-Footer1 p
{
	
}

.TableStyle-Test-FootA-Column2-Footer1
{
	
}

.TableStyle-Test-FootA-Column2-Footer1 p
{
	
}

.TableStyle-Test-FootG-Column2-Footer1
{
	
}

.TableStyle-Test-FootG-Column2-Footer1 p
{
	
}

.TableStyle-Test-FootI-Column3-Footer1
{
	
}

.TableStyle-Test-FootI-Column3-Footer1 p
{
	
}

.TableStyle-Test-FootE-Column3-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test-FootE-Column3-Footer1 p
{
	
}

.TableStyle-Test-FootF-Column3-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test-FootF-Column3-Footer1 p
{
	
}

.TableStyle-Test-FootH-Column3-Footer1
{
	
}

.TableStyle-Test-FootH-Column3-Footer1 p
{
	
}

.TableStyle-Test-FootD-Column3-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Test-FootD-Column3-Footer1 p
{
	
}

.TableStyle-Test-FootC-Column3-Footer1
{
	
}

.TableStyle-Test-FootC-Column3-Footer1 p
{
	
}

.TableStyle-Test-FootB-Column3-Footer1
{
	
}

.TableStyle-Test-FootB-Column3-Footer1 p
{
	
}

.TableStyle-Test-FootA-Column3-Footer1
{
	
}

.TableStyle-Test-FootA-Column3-Footer1 p
{
	
}

.TableStyle-Test-FootG-Column3-Footer1
{
	
}

.TableStyle-Test-FootG-Column3-Footer1 p
{
	
}

.TableStyle-Test-Body-Body1
{
	
}

.TableStyle-Test-BodyI-Column1-Body1
{
	
}

.TableStyle-Test-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Test-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Test-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Test-BodyH-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Test-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Test-BodyC-Column1-Body1
{
	
}

.TableStyle-Test-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Test-BodyB-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Test-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Test-BodyA-Column1-Body1
{
	
}

.TableStyle-Test-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Test-BodyG-Column1-Body1
{
	
}

.TableStyle-Test-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Test-BodyI-Column2-Body1
{
	
}

.TableStyle-Test-BodyI-Column2-Body1 p
{
	
}

.TableStyle-Test-BodyE-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-BodyE-Column2-Body1 p
{
	
}

.TableStyle-Test-BodyF-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-BodyF-Column2-Body1 p
{
	
}

.TableStyle-Test-BodyH-Column2-Body1
{
	
}

.TableStyle-Test-BodyH-Column2-Body1 p
{
	
}

.TableStyle-Test-BodyD-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-BodyD-Column2-Body1 p
{
	
}

.TableStyle-Test-BodyC-Column2-Body1
{
	
}

.TableStyle-Test-BodyC-Column2-Body1 p
{
	
}

.TableStyle-Test-BodyB-Column2-Body1
{
	
}

.TableStyle-Test-BodyB-Column2-Body1 p
{
	
}

.TableStyle-Test-BodyA-Column2-Body1
{
	
}

.TableStyle-Test-BodyA-Column2-Body1 p
{
	
}

.TableStyle-Test-BodyG-Column2-Body1
{
	
}

.TableStyle-Test-BodyG-Column2-Body1 p
{
	
}

.TableStyle-Test-BodyI-Column3-Body1
{
	
}

.TableStyle-Test-BodyI-Column3-Body1 p
{
	
}

.TableStyle-Test-BodyE-Column3-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-BodyE-Column3-Body1 p
{
	
}

.TableStyle-Test-BodyF-Column3-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-BodyF-Column3-Body1 p
{
	
}

.TableStyle-Test-BodyH-Column3-Body1
{
	
}

.TableStyle-Test-BodyH-Column3-Body1 p
{
	
}

.TableStyle-Test-BodyD-Column3-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Test-BodyD-Column3-Body1 p
{
	
}

.TableStyle-Test-BodyC-Column3-Body1
{
	
}

.TableStyle-Test-BodyC-Column3-Body1 p
{
	
}

.TableStyle-Test-BodyB-Column3-Body1
{
	
}

.TableStyle-Test-BodyB-Column3-Body1 p
{
	
}

.TableStyle-Test-BodyA-Column3-Body1
{
	
}

.TableStyle-Test-BodyA-Column3-Body1 p
{
	
}

.TableStyle-Test-BodyG-Column3-Body1
{
	
}

.TableStyle-Test-BodyG-Column3-Body1 p
{
	
}

